
body{
    font-family:'Raleway',sans-serif;
    font-weight: 400;
}

#title{
    background-color:#ff4c68;
     color:aliceblue;
}

.container-fluid{
    padding:3% 15%;
    width:fit-content;
    height:auto;
}

h1{
    margin-top:50px;
    margin-bottom:30px;
   
    font-family: 'Raleway',
    sans-serif;
    font-weight: 900;
    font-size:3.5rem;
    line-height:1.5;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: bold;
}

.btn-outline-dark{
    margin-right: 10px;
}

.nav-link{
     /* padding: 50px 0 20px; */
     font-size:1.2rem;
     margin-right: 50px;
}

.iphone-mockup{

    width:60%;
    margin-top:60px;
    transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
}

#features{
  /* margin-top:75px;
  margin-left:100px;
  margin-right: 100px;
  margin-bottom: 75px; */
  /* margin:100px; */
  padding:7% 15%
}


.col-xl-4{
      /* margin:100px 50px; */
      padding:3.7%;
      text-align:center;
}

h3{
     font-family:'Raleway',
     sans-serif;
     font-weight: 900;
}

p{
    line-height:1.5;
    color:#8f8f8f;
}

.fa-check-circle{
     margin-bottom:2px;
     line-height: 1.5;
     color:#ef8172;
}

.fa-bullseye{
     margin-bottom:2px;
      line-height: 1.5;
     color:#ef8172;
}

.fa-heart{
     margin-bottom:2px;
      line-height: 1.5;
     color:#ef8172;
}

.fa-check-circle:hover{
    color:#ff4c68;
}

.fa-bullseye:hover {
    color: #ff4c68;
}

.fa-heart:hover {
    color: #ff4c68;
}

#testimonials{
    padding:7% 15%;
    text-align: center;
    background-color: #ef8172;
    color:aliceblue;
}

h2{
    font-family:'Raleway',sans-serif;
    font-weight: 550;
    font-size: 3.2rem;
    line-height: 1.5;
}

.testimonial-image{
    width:10%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin:20px;
}

#press{
     background-color: #ef8172;
     text-align: center;
     padding-bottom: 3%;
}

.press-logo{
    width:15%;
    margin:20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

#pricing{
    text-align: center;
    padding: 7% 15%;
}

.pricing-description{
    margin:30px auto 50px auto;
}

.pricing{
    padding-right:30px;
    /* margin-left:10px; */
    /* margin-right: 10px; */
}

#cta{
    /* margin-top:0px; */
    text-align: center;
    background-color:#ff4c68;
    padding:7% 15%;
}

.closing-line{
    color:aliceblue;
    margin: 50px auto 50px auto;
    font-size: 2.5rem;
}

.button-cta{
    /* margin-right: 30px; */
    margin-left: 5px;
}

#footer{
    padding:7% 15%;
    text-align: center;
}

.footer-icons{
    /* line-height:2.5; */
    margin-bottom: 25px;
    margin-top:50px;
}

.social-media{
    margin-right:10px;
    margin-left:10px;
    margin-bottom: 25px;
}

.copyright{
    font-size:18px;
}